<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <tr style="display:none!important">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="ReleaseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!--[Required]
      public DateTime  { get; set; }

      [Required]
      public string CoverArtUrl { get; set; }

      public int DeveloperId { get; set; }
      [Required]
      public Developer Developer { get; set; }

      public int PublisherId { get; set; }
      [Required]
      public Publisher Publisher { get; set; }

      public decimal GenreId { get; set; }
      [Required]
      public string Genre { get; set; }

      [Required]
      [StringLength(250, MinimumLength = 10)]
      public string Description { get; set; }-->

      [Required]
      public string Platform { get; set; }
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">
              menu
            </span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(row)">
              <span class="material-icons">
                delete_forever
              </span>
              <span>Delete</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="(dataSource && dataSource.data)? dataSource.data.length: 0"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>
