<div class="example-container">
  <div class="form-container">
    <form [formGroup]="addDeveloperForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="addDeveloperForm.controls.name.touched && addDeveloperForm.controls.name.invalid">
          {{commonService.getErrorMessage(addDeveloperForm.controls.name)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Description
        </mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="addDeveloperForm.controls.description.touched && addDeveloperForm.controls.description.invalid">
          {{commonService.getErrorMessage(addDeveloperForm.controls.description)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Location
        </mat-label>
        <textarea matInput formControlName="location"></textarea>
        <mat-error *ngIf="addDeveloperForm.controls.location.touched && addDeveloperForm.controls.location.invalid">
          {{commonService.getErrorMessage(addDeveloperForm.controls.location)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Logo URL
        </mat-label>
        <textarea matInput formControlName="logoUrl"></textarea>
        <mat-error *ngIf="addDeveloperForm.controls.logoUrl.touched && addDeveloperForm.controls.logoUrl.invalid">
          {{commonService.getErrorMessage(addDeveloperForm.controls.logoUrl)}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
</div>
