<div class="page-header">
  <h1>
    {{game.name}}
  </h1>
</div>
<div class="jumbotron">
  <div>
    <img src="game.coverArtUrl" alt="Alternate Text" />
  </div>
  <div class="form-field">
    <label class="label">
      Description
    </label>
    <div class="label-info">
      {{game.description}}
    </div>
  </div>
  <div class="form-field">
    <label class="label">
      Developer
    </label>
    <div class="label-info">
      {{game.developerName}}
    </div>
  </div>
  <div class="form-field">
    <label class="label">
      Publisher
    </label>
    <div class="label-info">
      {{game.publisherName}}
    </div>
  </div>
</div>
<app-favourite-game-button [game]="game"></app-favourite-game-button>
