<div class="example-container">
  <div class="form-container">
    <form [formGroup]="searchDeveloperForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="searchDeveloperForm.controls.name.touched && searchDeveloperForm.controls.name.invalid">
          <span *ngIf="searchDeveloperForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
  </div>
  <ng-container *ngIf="shouldShowGrid">
    <ng-container *ngIf="!data">
      <mat-progress-spinner style="margin:0 auto;color:black;" mode="indeterminate"></mat-progress-spinner>
    </ng-container>
    <ng-container *ngIf="data">
      <button mat-raised-button color="primary" (click)="addNewDeveloper()">Add Developer</button>
      <app-developers-list-table [data]="data" (selection)="recieveResult($event)">

      </app-developers-list-table>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="primary" (click)="chooseFromGrid()">Select Developer</button>
</div>
