<div class="example-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="loginForm.controls.name.touched && loginForm.controls.name.invalid">
          <span *ngIf="loginForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Definition
        </mat-label>
        <textarea matInput formControlName="definition"></textarea>
        <mat-error *ngIf="loginForm.controls.definition.touched && loginForm.controls.definition.invalid">
          <span *ngIf="loginForm.controls.definition.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Release date
        </mat-label>
        <input matInput formControlName="releaseDate" type="date">
        <mat-error *ngIf="loginForm.controls.releaseDate.touched && loginForm.controls.releaseDate.invalid">
          <span *ngIf="loginForm.controls.releaseDate.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
</div>
