<div class="example-container">
  <form [formGroup]="logInForm" (submit)="submit()">
    <div class="form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          User Name
        </mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="logInForm.controls.username.touched && logInForm.controls.username.invalid">
          <span *ngIf="logInForm.controls.username.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput formControlName="password" required>
        <mat-error *ngIf="logInForm.controls.password.touched && logInForm.controls.password.invalid">
          <span *ngIf="logInForm.controls.password.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="error">
        <span>{{error}}</span>
      </mat-error>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
  <div>
    Don't have an account?
    <a [routerLink]="['/Register']">
      Register
    </a>
  </div>
</div>
