@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the games database!</h1>
    </div>
    <img class="center-block" src="https://cdn4.iconfinder.com/data/icons/everyday-activities/100/Videogame_Control-512.png" alt="Games" />
</div>
