<div class="example-container">
  <div class="form-container">
    <form [formGroup]="addGameForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="addGameForm.controls.name.touched && addGameForm.controls.name.invalid">
          <span *ngIf="addGameForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Description
        </mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="addGameForm.controls.description.touched && addGameForm.controls.description.invalid">
          <span *ngIf="addGameForm.controls.description.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Release date
        </mat-label>
        <input matInput formControlName="releaseDate" type="date">
        <mat-error *ngIf="addGameForm.controls.releaseDate.touched && addGameForm.controls.releaseDate.invalid">
          <span *ngIf="addGameForm.controls.releaseDate.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Genre
        </mat-label>
        <mat-select formControlName="genreId">
          <mat-option *ngFor="let genre of genres" [value]="genre.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addGameForm.controls.genreId.touched && addGameForm.controls.genreId.invalid">
          <span *ngIf="addGameForm.controls.genreId.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Developer
        </mat-label>
        <input matInput formControlName="developer" required>
        <mat-error *ngIf="addGameForm.controls.developer.touched && addGameForm.controls.developer.invalid">
          <span *ngIf="addGameForm.controls.developer.errors.required">This field is mandatory.</span>
        </mat-error>
        <button mat-raised-button color="primary" (click)="openSearchDevelopers()" >Search Developers</button>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Publisher
        </mat-label>
        <input matInput formControlName="publisher" required>
        <mat-error *ngIf="addGameForm.controls.publisher.touched && addGameForm.controls.publisher.invalid">
          <span *ngIf="addGameForm.controls.publisher.errors.required">This field is mandatory.</span>
        </mat-error>
        <button mat-raised-button color="primary" (click)="openSearchPublishers()">Search Publishers</button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
</div>
