<div class="example-container">
  <form [formGroup]="registerUserForm" (submit)="submit()">
    <div class="form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
         First Name
        </mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="registerUserForm.controls.firstName.touched && registerUserForm.controls.firstName.invalid">
          {{commonService.getErrorMessage(registerUserForm.controls.firstName)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Last Name
        </mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="registerUserForm.controls.lastName.touched && registerUserForm.controls.lastName.invalid">
          {{commonService.getErrorMessage(registerUserForm.controls.lastName)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          User Name
        </mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="registerUserForm.controls.username.touched && registerUserForm.controls.username.invalid">
          {{commonService.getErrorMessage(registerUserForm.controls.username)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput formControlName="password" required>
        <mat-error *ngIf="registerUserForm.controls.password.touched && registerUserForm.controls.password.invalid">
          {{commonService.getErrorMessage(registerUserForm.controls.password)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Confirm Password
        </mat-label>
        <input matInput formControlName="repeatPassword" required>
        <mat-error *ngIf="registerUserForm.controls.repeatPassword.touched && registerUserForm.controls.repeatPassword.invalid">
          {{commonService.getErrorMessage(registerUserForm.controls.repeatPassword)}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="registerUserForm.get(['password']).value != registerUserForm.get(['repeatPassword']).value && registerUserForm.get(['repeatPassword']).value != null">
        <span>Password and confirm password do not match.</span>
      </mat-error>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</div>
