<div class="example-container">
  <div class="form-container">
    <form [formGroup]="searchPublishersForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="searchPublishersForm.controls.name.touched && searchPublishersForm.controls.name.invalid">
          <span *ngIf="searchPublishersForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
  </div>
  <ng-container *ngIf="shouldShowGrid">
    <ng-container *ngIf="!data">
      <mat-progress-spinner style="margin:0 auto;color:black;" mode="indeterminate"></mat-progress-spinner>
    </ng-container>
    <ng-container *ngIf="data">
      <app-publishers-list-table [data]="data" (selection)="recieveResult($event)">
      </app-publishers-list-table>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="primary" (click)="chooseFromGrid()">Select Publisher</button>
</div>
